<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Chat Room Proof of Concept</title>

    {% block css %}
        <link href="{{ STATIC_URL }}vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}chat/css/chat.css" rel="stylesheet">
    {% endblock %}
</head>
<body ng-app="ChatApp">
<div class="container">
    <h1>Chat Room Proof of Concept.</h1>
    {% block main_content %}
        <div ng-controller="ChatController"
             data-socket-url="{{ WEBSOCKET_URI }}{{ token }}?subscribe-broadcast&publish-broadcast&echo">
            {% include "chat/angular/chat.html" %}
        </div>
    {% endblock %}
</div>

{% block js %}
    <script src="{{ STATIC_URL }}vendor/angular/angular.min.js"></script>
    <script src="{{ STATIC_URL }}vendor/angular/ng-websocket.js"></script>

    <script src="{{ STATIC_URL }}chat/js/chat_app/module.js"></script>
    <script src="{{ STATIC_URL }}chat/js/chat_app/controllers.js"></script>
{% endblock %}
</body>
</html>