<div id="chat"
     class="row"
     data-socket-url="{{ WEBSOCKET_URI }}{{ token }}?subscribe-broadcast&publish-broadcast&echo">
    <pre class="chat-bilboard col-md-12"></pre>
    <div class="col-md-12">
        <div class="input-group">
            <input type="text" class="chat-input-box form-control" placeholder="Message">
            <span class="input-group-btn">
                <button class="chat-send-btn btn btn-success" type="button">Send</button>
            </span>
        </div>
    </div>
</div>
