{% verbatim %}
<div id="chat" class="row">
    <div class="chat-bilboard col-md-12">
        <p ng-repeat="item in chatHistory track by $index">{{ item.username }}: {{ item.message }}</p>
    </div>

    <div class="col-md-12" ng-show="isUsernameSet()">
        <div class="input-group">
            <input type="text"
                   class="form-control"
                   placeholder="Message"
                   ng-model="chatMessage"
                   ng-keyup="onChatMessageKeyUp($event)">

            <div class="input-group-btn">
                <button class="btn btn-success"
                        type="submit"
                        ng-click="sendMessage(chatMessage)">Send
                </button>
            </div>
        </div>
    </div>
</div>
{% endverbatim %}